<div class = "container">
  <div class = "page-header">
    <%= link_to "New Location", new_location_path, class: "btn btn-info pull-right" %>
    <h1>Locations</h1>
  </div>


  <table class = "table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Zip Code</th>
      </tr>
    </thead>
    <tbody>
      <% @locations.each do |location| %>
      <tr>
        <td><%= location.name %></td>
        <td><%= location.address %></td>
        <td><%= location.zip_code %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
